<div class="container app">
  <div class="row">

    <div class="col-md-8">
      <h1 class="text-center">{{title}}</h1>
    </div>

    <div class="col-md-4">
      <div class="alert alert-success alert-dismissible">
        <a href="" class="close">
          &times;
        </a>
        mensaje aqui
      </div>
    </div>

    <div class="row">

      <div class="col-sm-2">
          <!-- <img
          width="250"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        /> -->
      </div>

      <div class="col-md-10">
        <h2>Create Data</h2>

        <form action="" class="form-horizontal">

          <div class="form-group">
            <label for="name" class="control-label col-md-2">Name</label>
            
            <div class="col-md-10">
              <input type="text" name="name" 
              id="name" class="form-control"
              [(ngModel)]="model.name" placeholder="Add Name"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="position" class="control-label col-md-2">Position</label>
            
            <div class="col-md-10">
              <input type="text" name="position" 
              id="position" class="form-control"
              [(ngModel)]="model.position" 
              placeholder="Add position"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="control-label col-md-2">E-mail</label>
            
            <div class="col-md-10">
              <input type="email" name="email" 
              id="email" class="form-control"
              [(ngModel)]="model.email" 
              placeholder="Add E-mail"
              >
            </div>
          </div>

        </form>
      </div>

    </div>

  </div>
</div>

